{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="en" http-equiv="content-language">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{% static 'ico/favicon.ico' %}">
  <link rel="icon" href="{% static 'ico/favicon.ico' %}">
  <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}" type="image/x-icon">

  <title>
    {% if object %}
      {{ object.say_more|striptags|truncatewords:100|safe }} -
    {% endif %} MoreToSay
  </title>

  <!-- Twitter -->
  {% if False %}
  <meta name="twitter:site" content="@timitee">
  <meta name="twitter:creator" content="@timitee">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="MoreToSay">
  <meta name="twitter:description" content="Do you have more to say?
    Not enough for a whole blog?
    No login required.
    Create a single page.
    Say what you like.
    Post it instantly.
    Reference from anywhere.">
  <meta name="twitter:image" content="{% static 'ico/favicon.png' %}">

  <!-- Facebook -->
  <meta property="og:url" content="http://moretosay.co.uk">
  <meta property="og:title" content="Bootstrap">
  <meta property="og:description" content="Do you have more to say?
    Not enough for a whole blog?
    No login required.
    Create a single page.
    Say what you like.
    Post it instantly.
    Reference from anywhere.">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{% static 'ico/favicon.png' %}">
  <meta property="og:image:secure_url" content="{% static 'ico/favicon.png' %}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="640">
  <meta property="og:image:height" content="480">
  <meta property="fb:admins" content="" />
  <meta property="fb:app_id" content="" />
  {% endif %}

  <!-- Meta -->
  <meta name="description" content="Access from anywhere a single block of text and text.">
  <meta name="publisher" content="Tim Bushell (c) 2017">
  <meta name="robots" content="index, follow">
  <meta name="mssmarttagspreventparsing" content="true" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
  <!--
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-146052-10', 'getbootstrap.com');
    ga('send', 'pageview');
  </script>
  -->
</head>

<body>

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>

  <br>
  <br>

  {% block footer %}
  <footer class="border border-secondary border-left-0 border-bottom-0 border-right-0">
    <div class="container">
      <div class="row mt-3">
        <div class="col">
          <p class="text-muted">Built and provided by
              <a href="https://www.quora.com/profile/Tim-Bushell">Tim Bushell</a>
          </p>
        </div>
        <div class="col">
          <p class="float-right">
              {% if object %}<a class="btn btn-sm btn-secondary" href="/">MoreToSay?</a>{% endif %}
              <a class="btn btn-sm btn-secondary" href="/view/cb04d1bd-10c0-47b5-bce2-21ad5f126026/">About</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  {% endblock footer %}


  <script src="{% static '/js/main.min.js' %}"></script>

  {% block scripts %}
  {% endblock scripts %}

</body>
</html>
