{% extends 'moretosay/base.html' %}
{% load static %}

{% block content %}
  <div class="row">
  <div class="col pt-3">

    {% if not object.moretosay %}
    <h1 class="h4">
        <span class="badge badge-pill badge-light">
          <a href="/"><img src="{% static 'ico/favicon.png' %}" class="img-fluid icon-32" /></a>
        </span> MoreToSay
    </h1>
    {% endif %}

    <form action="." method="post">
      {% csrf_token %}

      {% if object %}
      <input id="id" name="id" type="hidden" value="{{ object.id }}" />
      <input id="moretosay" name="moretosay" type="hidden" value="{{ object.moretosay }}" />
      {% endif %}

      <div class="form-group">
        <textarea class="form-control" id="say_more" name="say_more" rows="12">
          {% if object %}
          {{ object.say_more }}
          {% endif %}
        </textarea>
      </div>

      <button type="submit" class="btn btn-primary btn-block btn-lg">
          Publish
      </button>

    </form>

  </div>
  </div>

  {% if object.moretosay %}
  <div class="row mt-5">
  <div class="col">

  <div class="card">
    <div class="card-body">
      <label for="edit_url">This is your <b>Edit URL</b>. Keep it safe. Click to Copy.</label>
      <div class="input-group">
        <input id="edit_url"
            type="text"
            class="form-control"
            value="{% url 'moretosay.edit' object.pk object.moretosay %}"
          readonly>
        <span class="input-group-btn">
          <button
            onclick="copy2clip('{{ domain }}{% url 'moretosay.edit' object.pk object.moretosay %}')"
            class="btn btn-secondary"
            type="button">
            <i class="fa fa-copy"></i>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <label for="view_url">This is the URL you should <b>Share</b>. Keep it safe. Click to View.</label>
      <div class="input-group">
        <input id="view_url" type="text" class="form-control" value="{% url 'moretosay.view' object.pk %}"
          readonly>
        <span class="input-group-btn">
          <a
            href="{% url 'moretosay.view' object.pk %}"
            class="btn btn-secondary"
            target="_view">
              <i class="fa fa-eye"></i>
          </a>
        </span>
      </div>
    </div>
  </div>

  </div>
  </div>
  {% endif %}
{% endblock content %}

{% block scripts %}

  <script src="//cdn.ckeditor.com/4.7.2/standard/ckeditor.js"></script>

  <script type="text/javascript">

    CKEDITOR.replace('say_more', {height: '300px',});

    CKEDITOR.on('dialogDefinition', function(ev) {
      var dialogName = ev.data.name;
      var dialogDefinition = ev.data.definition;

      if (dialogName === 'table') {
        var infoTab = dialogDefinition.getContents('info');
        var cellSpacing = infoTab.get('txtCellSpace');
        cellSpacing['default'] = "0";
        var cellPadding = infoTab.get('txtCellPad');
        cellPadding['default'] = "0";
        var border = infoTab.get('txtBorder');
        border['default'] = "0";
        var width = infoTab.get('txtWidth');
        width['default'] = "100%";
      }
    });
  </script>

{% endblock scripts %}
