{% extends 'moretosay/base.html' %}

{% block content %}
  <div class="row mt-5">
  <div class="col pb-3">

    {{ object.say_more|safe }}


  </div>
  </div>
{% endblock content %}



{% block footer %}
{% endblock footer %}
